.spinner {
  display: inline-block;
  position: relative;
  border-radius: theme('borderRadius.full');
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  border-top-color: theme('colors.white');
  animation: spin 1s linear infinite;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;

  &[data-color='black'] {
    border-color: rgba(0, 0, 0, 0.15);
    border-top-color: theme('colors.black');
  }

  &[data-color='primary'] {
    border-color: rgba(0, 0, 0, 0.15);
    border-top-color: theme('colors.primary.DEFAULT');
  }

  &[data-color='white'] {
    border-color: rgba(255, 255, 255, 0.15);
    border-top-color: theme('colors.white');
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
